<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>

	<div layout:fragment="content">
		<h1>List NodeSessionData</h1>
		<hr />
		<a th:href="@{/nodesessiondatas/new}">New NodeSessionData</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Key</th> 
					<th>Value</th> 
					<th>NodeId</th> 
					<th>SessionId</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="nodesessiondata : ${listNodeSessionData}">
					<td th:text="${nodesessiondata.key}"></td> 
					<td th:text="${nodesessiondata.value}"></td> 
					<td th:text="${nodesessiondata.nodeId}"></td> 
					<td th:text="${nodesessiondata.sessionId}"></td> 
					<td>
							<a th:href="@{/nodesessiondatas/{id}(id = ${nodesessiondata.id})}">Show</a> 
					 		<a th:href="@{/nodesessiondatas/{id}/edit(id = ${nodesessiondata.id})}">Edit</a> 
							<a href="#">Destroy</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>